html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    --background-color: #ececec;
    --text-color: black;
    --panel-shadow: -3px -3px 10px rgba(255, 255, 255, 1), 3px 3px 10px rgba(0, 0, 0, .4);
    --textfield-shadow: inset -3px -3px 10px rgba(255, 255, 255, 1), inset 3px 3px 10px rgba(0, 0, 0, .2);
    --checkmark-shadow: -3px -3px 10px rgba(255, 255, 255, 1), 3px 3px 10px rgba(0, 0, 0, .2);
    --checkmark-inset-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 2px 2px 5px rgba(0, 0, 0, .2);
    --btn-shadow: -3px -3px 10px rgba(255, 255, 255, 1), 3px 3px 10px rgba(0, 0, 0, .2);
    --btn-active-shadow: inset -3px -3px 10px rgba(255, 255, 255, 1), inset 3px 3px 10px rgba(0, 0, 0, .2);
    --arrow: url("/imgs/black_arrow.svg");
    --checkbox-color: #b1b1b1;
}

html[data-theme='dark'] {
    --background-color: #1b1b1b;
    --text-color: rgb(165, 165, 165);
    --panel-shadow: -1px -1px 10px rgba(255, 255, 255, .1), 3px 3px 10px rgba(0, 0, 0, .7);
    --textfield-shadow: inset -1px -1px 5px rgba(255, 255, 255, .1), inset 1px 1px 10px rgba(0, 0, 0, .7);
    --checkmark-shadow: -1px -1px 10px rgba(255, 255, 255, .1), 3px 3px 10px rgba(0, 0, 0, .7);
    --checkmark-inset-shadow: inset -1px -1px 10px rgba(255, 255, 255, .1), inset 3px 3px 10px rgba(0, 0, 0, .7);
    --btn-shadow: -2px -2px 10px rgba(255, 255, 255, .1), 3px 3px 10px rgba(0, 0, 0, .7);
    --btn-active-shadow: inset -2px -2px 10px rgba(255, 255, 255, .1), inset 3px 3px 10px rgba(0, 0, 0, .7);
    --arrow: url("/imgs/white_arrow.svg");
    --checkbox-color: #363636;
}

button,
input,
span,
div {
    color: var(--text-color);
}

html.trnsition,
html.transition *,
html.transition *::before,
html.transition *::after {
    transition: all 250ms !important;
    transition-delay: 0s !important;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.switchDiv {
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 25px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
            &:checked+.slider {
                background-color: rgb(0, 102, 0);
            }
            &:checked+.slider:before {
                transform: translateX(20px);
            }
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 50px;
            &:before {
                position: absolute;
                content: "";
                width: 19px;
                height: 19px;
                left: 3px;
                bottom: 3px;
                border-radius: 50%;
                background-color: var(--background-color);
                transition: .4s;
            }
        }
    }
}

.activateToggle {
    width: 30%;
    text-align: left;
    margin-bottom: 10px;
    .actLabel {
        margin-left: 10px;
        display: flex;
        cursor: pointer;
        input {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }
        .activate {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15px;
            width: 15px;
            border-radius: 5px;
            background-color: var(--checkbox-color);
            &::after {
                content: '';
                position: relative;
                display: none;
                width: 3px;
                height: 7.5px;
                border: solid var(--text-color);
                border-radius: 5px;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
        span {
            margin-left: 5px;
            line-height: 0.8rem;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
        }
        input:checked~.activate::after {
            display: block;
        }
        input:checked+.inner .column .row .arrow {
            display: flex;
        }
    }
}

.inner {
    width: 30%;
    max-height: 90%;
    margin: 0 auto;
    background-color: var(--background-color);
    box-shadow: var(--panel-shadow);
    border-radius: 15px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .resultDiv {
        position: relative;
        min-width: 60%;
        margin-bottom: 10px;
        text-align: left;
        .result {
            min-width: calc(100% - 20px);
            border: none;
            outline: none;
            padding: 10px;
            font-size: 1rem;
            border-radius: 10px;
            background-color: var(--background-color);
            box-shadow: var(--textfield-shadow);
            text-align: start;
            line-height: 1.5rem;
            cursor: pointer;
        }
        span {
            margin: 10px 0 0 5px;
            font-size: 0.75rem;
            font-weight: lighter;
        }
    }
    .column {
        position: relative;
        width: 60%;
        margin: auto auto;
        padding: 10px;
        background-color: transparent;
        font-size: 1rem;
        font-weight: bold;
        text-align: start;
        align-items: center;
        .row {
            width: 100%;
            padding: 0;
            .arrow {
                position: absolute;
                display: none;
                justify-content: center;
                align-items: center;
                right: -30px;
                content: var(--arrow);
                width: 20px;
                height: 20px;
                cursor: pointer;
                transition: transform .5s ease-in-out;
            }
            .arrow-active {
                transform: rotate(-90deg);
            }
        }
        .extended {
            display: block;
            position: relative;
            width: 100%;
            height: 0;
            // background-color: red;
            transition: all .5s ease-in-out;
            overflow: hidden;
        }
        .extended-active {
            height: 50px;
            margin-top: 10px;
        }
    }
    .row {
        position: relative;
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin: auto auto;
        padding: 10px;
        background-color: transparent;
        font-size: 1rem;
        font-weight: bold;
        text-align: start;
        align-items: center;
        input[type="number"] {
            max-width: 8%;
            margin: 0;
            text-align: center;
            font-size: 0.9rem;
            padding: 5px 10px;
            border-radius: 10px;
            height: 50%;
            border: none;
            outline: none;
            background-color: var(--background-color);
            box-shadow: var(--textfield-shadow);
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        label {
            cursor: pointer;
            input {
                position: absolute;
                opacity: 0;
                height: 0;
                width: 0;
            }
            .checkmark {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
                width: 25px;
                border-radius: 15px;
                background-color: var(--background-color);
                box-shadow: var(--checkmark-shadow);
                &:hover {
                    box-shadow: var(--checkmark-inset-shadow);
                }
                &::after {
                    content: '';
                    position: relative;
                    display: none;
                    width: 5px;
                    height: 10px;
                    border: solid rgb(88, 88, 88);
                    border-radius: 5px;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            }
            input:checked~.checkmark::after {
                display: block;
            }
        }
    }
    button {
        width: 60%;
        height: 40px;
        border: none;
        border-radius: 10px;
        font-size: 1.1rem;
        font-weight: bolder;
        margin-top: 20px;
        background-color: var(--background-color);
        box-shadow: var(--btn-shadow);
        // color: var(--text-color);
        cursor: pointer;
        &:active {
            box-shadow: var(--btn-active-shadow);
            font-size: 1rem;
        }
        &:focus {
            outline: none;
        }
    }
}

@media screen and (max-width: 1500px) {
    .inner,
    .activateToggle {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        padding: 150px 50px 50px;
        width: calc(100% - 100px);
        height: calc(100vh - 200px);
        justify-content: start;
    }
    .activateToggle {
        width: 60%;
    }
    .inner {
        width: 100%;
        height: 100%;
        box-shadow: none;
        padding: 0;
        max-height: 40%;
        button {
            line-height: 10px;
            width: 30%;
            padding: 15px;
        }
    }
}

@media screen and (max-width: 600px) {
    .switchDiv {
        .switch {
            width: 35px;
            height: 20px;
            input {
                &:checked+.slider:before {
                    transform: translateX(15px);
                }
            }
            .slider {
                &::before {
                    height: 14px;
                    width: 14px;
                }
            }
        }
    }
    .container {
        height: auto;
        width: calc(100% - 100px);
        padding: 0;
        margin: 30px auto;
        .activateToggle {
            width: 80%;
            span {
                font-size: 0.7rem;
            }
        }
        .inner {
            max-width: 80%;
            .column {
                width: 100%;
            }
            .row {
                width: 100%;
            }
            button {
                width: 80%;
                padding: 10px;
            }
            .resultDiv {
                width: 100%;
                .result {
                    width: 100%;
                    overflow: auto;
                }
            }
        }
    }
}